@import 'tailwindcss';


@font-face {
    font-family: MiTypografia3;
    src: url('/Manrope-Regular.woff2') format('woff2'),
         url('/Manrope-Regular.ttf') format('truetype');
    font-display: swap;
}

html {
    font-family: MiTypografia3, sans-serif;
}

.font-Manrope {
    font-family: MiTypografia3;
}
