@import 'tailwindcss';


@font-face {
    font-family: MiTypografia3;
    src: url('/Manrope-Regular.ttf');
}

html {
    font-family: MiTypografia3, sans-serif;
}

.font-Manrope {
    font-family: MiTypografia3;
}
